In [1]:











import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\91921\\Desktop\\csv\\Weather Data.csv")

In [3]:
df.head

<bound method NDFrame.head of              Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  \
0        1/1/2012 0:00    -1.8              -3.9         86                4
1        1/1/2012 1:00    -1.8              -3.7         87                4
2        1/1/2012 2:00    -1.8              -3.4         89                7
3        1/1/2012 3:00    -1.5              -3.2         88                6
4        1/1/2012 4:00    -1.5              -3.3         88                7
...                ...     ...               ...        ...              ...
8779  12/31/2012 19:00     0.1              -2.7         81               30
8780  12/31/2012 20:00     0.2              -2.4         83               24
8781  12/31/2012 21:00    -0.5              -1.5         93               28
8782  12/31/2012 22:00    -0.2              -1.8         89               28
8783  12/31/2012 23:00     0.0              -2.1         86               30

      Visibility_km  Press_kPa               Weather
0               8.0     101.24                   Fog
1               8.0     101.24                   Fog
2               4.0     101.26  Freezing Drizzle,Fog
3               4.0     101.27  Freezing Drizzle,Fog
4               4.8     101.23                   Fog
...             ...        ...                   ...
8779            9.7     100.13                  Snow
8780            9.7     100.03                  Snow
8781            4.8      99.95                  Snow
8782            9.7      99.91                  Snow
8783           11.3      99.89                  Snow

[8784 rows x 8 columns]>

In [4]:
df.head(5)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [5]:
df.shape

(8784, 8)

In [6]:
df.index

RangeIndex(start=0, stop=8784, step=1)

In [7]:
df.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

In [8]:
df.dtypes

Date/Time            object
Temp_C              float64
Dew Point Temp_C    float64
Rel Hum_%             int64
Wind Speed_km/h       int64
Visibility_km       float64
Press_kPa           float64
Weather              object
dtype: object

In [9]:
df.unique

AttributeError: 'DataFrame' object has no attribute 'unique'

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [12]:
df.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

# Find all the unique 'Wind Speed' values in the data.

In [13]:
df['Wind Speed_km/h'].unique() #Find all the unique 'Wind Speed' values in the data. .

array([ 4,  7,  6,  9, 15, 13, 20, 22, 19, 24, 30, 35, 39, 32, 33, 26, 44,
       43, 48, 37, 28, 17, 11,  0, 83, 70, 57, 46, 41, 52, 50, 63, 54,  2],
      dtype=int64)

In [14]:
df['Wind Speed_km/h'].nunique() #Find all the nunique 'Wind Speed' values in the data. .

34

In [17]:
df.Weather=='clear'

0       False
1       False
2       False
3       False
4       False
        ...
8779    False
8780    False
8781    False
8782    False
8783    False
Name: Weather, Length: 8784, dtype: bool

In [19]:
df[df.Weather == 'clear']

Empty DataFrame
Columns: [Date/Time, Temp_C, Dew Point Temp_C, Rel Hum_%, Wind Speed_km/h, Visibility_km, Press_kPa, Weather]
Index: []

# Q. 2) Find the number of times when the 'Weather is exactly Clear'. 
use filter,groupby,value_counts()

In [28]:
df.Weather.value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Haze                                         16
Thunderstorms,Rain Showers                   16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Snow,Ice Pellets                              6
Snow,Haze                                     5
Moderate Snow                                 4
Snow Showers,Fog                              4
Freezing Rain,Fog                             4
Freezing Fog                                  4
Rain,Snow,Ice Pellets                         4
Thunderstorms,Rain Showers,Fog                3
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms,Rain,Fog                        1
Drizzle,Ice Pellets,Fog                       1
Moderate Rain,Fog                             1
Thunderstorms,Heavy Rain Showers              1
Snow Pellets                                  1
Rain,Snow Grains                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Rain,Ice Pellets                              1
Freezing Rain,Snow Grains                     1
Rain,Snow,Fog                                 1
Rain Showers,Fog                              1
Freezing Rain,Ice Pellets,Fog                 1
Name: Weather, dtype: int64

In [32]:
df.Weather.value_counts()['Clear'] # show exact value count of specfc Term in Weather column

1326

In [30]:
df.Weather.value_counts(normalize=True)# show value in persentage

Mainly Clear                               0.239754
Mostly Cloudy                              0.235542
Cloudy                                     0.196721
Clear                                      0.150956
Snow                                       0.044399
Rain                                       0.034836
Rain Showers                               0.021403
Fog                                        0.017077
Rain,Fog                                   0.013206
Drizzle,Fog                                0.009107
Snow Showers                               0.006831
Drizzle                                    0.004668
Snow,Fog                                   0.004212
Snow,Blowing Snow                          0.002163
Rain,Snow                                  0.002049
Haze                                       0.001821
Thunderstorms,Rain Showers                 0.001821
Drizzle,Snow,Fog                           0.001708
Freezing Rain                              0.001594
Freezing Drizzle,Snow                      0.001252
Freezing Drizzle                           0.000797
Freezing Drizzle,Fog                       0.000683
Snow,Ice Pellets                           0.000683
Snow,Haze                                  0.000569
Moderate Snow                              0.000455
Snow Showers,Fog                           0.000455
Freezing Rain,Fog                          0.000455
Freezing Fog                               0.000455
Rain,Snow,Ice Pellets                      0.000455
Thunderstorms,Rain Showers,Fog             0.000342
Freezing Drizzle,Haze                      0.000342
Rain,Haze                                  0.000342
Thunderstorms,Rain                         0.000342
Thunderstorms                              0.000228
Moderate Snow,Blowing Snow                 0.000228
Freezing Rain,Haze                         0.000228
Drizzle,Snow                               0.000228
Rain Showers,Snow Showers                  0.000228
Thunderstorms,Rain,Fog                     0.000114
Drizzle,Ice Pellets,Fog                    0.000114
Moderate Rain,Fog                          0.000114
Thunderstorms,Heavy Rain Showers           0.000114
Snow Pellets                               0.000114
Rain,Snow Grains                           0.000114
Thunderstorms,Moderate Rain Showers,Fog    0.000114
Rain,Ice Pellets                           0.000114
Freezing Rain,Snow Grains                  0.000114
Rain,Snow,Fog                              0.000114
Rain Showers,Fog                           0.000114
Freezing Rain,Ice Pellets,Fog              0.000114
Name: Weather, dtype: float64

In [ ]:
df.head(2)

In [ ]:
df

In [21]:
df.Weather=='Clear'

0       False
1       False
2       False
3       False
4       False
        ...
8779    False
8780    False
8781    False
8782    False
8783    False
Name: Weather, Length: 8784, dtype: bool

In [22]:
df.Weather=='Clear'# gives result in boolean

0       False
1       False
2       False
3       False
4       False
        ...
8779    False
8780    False
8781    False
8782    False
8783    False
Name: Weather, Length: 8784, dtype: bool

In [23]:
df[df.Weather=='Clear'] # gives result in values

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
67,1/3/2012 19:00,-16.9,-24.8,50,24,25.0,101.74,Clear
114,1/5/2012 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,1/5/2012 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,1/5/2012 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,1/5/2012 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear
...,...,...,...,...,...,...,...,...
8646,12/26/2012 6:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,12/28/2012 10:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,12/29/2012 1:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,12/29/2012 2:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

In [33]:
df.describe()

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [24]:
df1=df.groupby('Weather') # groupby group the column string value into alphabetic order

In [25]:
df1.head(100)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8741,12/30/2012 5:00,-9.1,-10.4,90,11,4.0,100.32,"Snow,Fog"
8742,12/30/2012 6:00,-9.3,-10.8,89,17,8.0,100.39,"Snow,Fog"
8767,12/31/2012 7:00,-9.3,-11.3,85,0,19.3,101.19,Snow Showers
8768,12/31/2012 8:00,-8.6,-10.3,87,4,3.2,101.14,Snow Showers
8770,12/31/2012 10:00,-7.4,-8.9,89,4,6.4,101.05,"Snow,Fog"

In [ ]:
df.groupby('Weather').get_group('Clear')# get_group to find the exect match

In [ ]:
df

# Find the number of times when the 'Wind Speed was exactly 4 km/h'

In [ ]:
df.head(2)

In [26]:
df[df["Wind Speed_km/h"] == 4]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
96,1/5/2012 0:00,-8.8,-11.7,79,4,9.7,100.32,Snow
101,1/5/2012 5:00,-7.0,-9.5,82,4,4.0,100.19,Snow
146,1/7/2012 2:00,-8.1,-11.1,79,4,19.3,100.15,Cloudy
...,...,...,...,...,...,...,...,...
8768,12/31/2012 8:00,-8.6,-10.3,87,4,3.2,101.14,Snow Showers
8769,12/31/2012 9:00,-8.1,-9.6,89,4,2.4,101.09,Snow
8770,12/31/2012 10:00,-7.4,-8.9,89,4,6.4,101.05,"Snow,Fog"
8772,12/31/2012 12:00,-5.8,-7.5,88,4,12.9,100.78,Snow
8773,12/31/2012 13:00,-4.6,-6.6,86,4,12.9,100.63,Snow

# Find out all the Null Values in the data

In [ ]:
df.isnull() #showing boolean

In [ ]:
df.isnull().sum() # showing all null value which is not any null

In [ ]:
df.notnull().sum()# not null value

# Rename the column name 'Weather' of the dataframe to 'Weather Condition'.

In [ ]:
df.rename(columns={'Weather':'Weather condition'})# rename function is temperory rename

In [ ]:
df

In [ ]:
df1=df.rename(columns={'Weather':'Weather condition'},inplace=True) # chande name parmanently using inplace=True

In [ ]:
df1

In [10]:
df1.info()

NameError: name 'df1' is not defined

For Selecting The Data
1. df[[‘Col1’, ‘Col2’ , ‘Col3’ ]] # Selecting multiple Columns from the DF.
2. df.loc[ : , ‘Col1’ : ‘Col2’] # Selecting columns with object slicing.
3. df.iloc[ : , 1:4 ] # Selecting columns with integer slicing.

In [34]:
df.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [35]:
df[['Date/Time','Temp_C','Weather']]

             Date/Time  Temp_C               Weather
0        1/1/2012 0:00    -1.8                   Fog
1        1/1/2012 1:00    -1.8                   Fog
2        1/1/2012 2:00    -1.8  Freezing Drizzle,Fog
3        1/1/2012 3:00    -1.5  Freezing Drizzle,Fog
4        1/1/2012 4:00    -1.5                   Fog
...                ...     ...                   ...
8779  12/31/2012 19:00     0.1                  Snow
8780  12/31/2012 20:00     0.2                  Snow
8781  12/31/2012 21:00    -0.5                  Snow
8782  12/31/2012 22:00    -0.2                  Snow
8783  12/31/2012 23:00     0.0                  Snow

[8784 rows x 3 columns]

In [36]:
df[['Date/Time','Temp_C','Weather']].head(5)

       Date/Time  Temp_C               Weather
0  1/1/2012 0:00    -1.8                   Fog
1  1/1/2012 1:00    -1.8                   Fog
2  1/1/2012 2:00    -1.8  Freezing Drizzle,Fog
3  1/1/2012 3:00    -1.5  Freezing Drizzle,Fog
4  1/1/2012 4:00    -1.5                   Fog

In [39]:
df.loc[ : ,'Date/Time':'Visibility_km']

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8
...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3

In [41]:
df.iloc[ : ,1 : 4]

      Temp_C  Dew Point Temp_C  Rel Hum_%
0       -1.8              -3.9         86
1       -1.8              -3.7         87
2       -1.8              -3.4         89
3       -1.5              -3.2         88
4       -1.5              -3.3         88
...      ...               ...        ...
8779     0.1              -2.7         81
8780     0.2              -2.4         83
8781    -0.5              -1.5         93
8782    -0.2              -1.8         89
8783     0.0              -2.1         86

[8784 rows x 3 columns]